<section id="about-us">
  <div id="about-us-top">
    <h1 class="section-title">Our Philosophy</h1>
    <h2 class="section-subtitle">Why Munder Difflin?</h2>
  </div>
  <div id="about-us-bottom">
    <article class="description-box">
      <div class="description-title">
        <h3 class="description-number">1</h3><h3 class="description-subtitle">Customer First</h3>
      </div>
      <div class="text-box">
        <h5>We are all about personalized customer service. Every client has an assigned associate who is on-call 5 days a week.</h5>
      </div>
      <a href="#" class="learn-more-button hvr-underline-from-center">Learn More</a>
    </article>

    <article class="description-box">
      <div class="description-title">
        <h3 class="description-number">2</h3><h3 class="description-subtitle">Local</h3>
      </div>
      <div class="text-box">
        <h5>We know Scranton. This is our neighborhood. We always have your best interests in mind.</h5>
      </div>
      <a href="#" class="learn-more-button hvr-underline-from-center">Learn More</a>
    </article>

    <article class="description-box">
      <div class="description-title">
        <h3 class="description-number">3</h3><h3 class="description-subtitle">Trusted</h3>
      </div>
      <div class="text-box">
        <h5>You can trust that you will always receive prompt service and your order will be delivered on time.</h5>
      </div>
      <a href="#" class="learn-more-button hvr-underline-from-center">Learn More</a>
    </article>

    <article class="description-box">
      <div class="description-title">
        <h3 class="description-number">4</h3><h3 class="description-subtitle">Quality</h3>
      </div>
      <div class="text-box">
        <h5>We ensure that our wide range of products all meet company and nation-wide standards.</h5>
      </div>
      <a href="#" class="learn-more-button hvr-underline-from-center">Learn More</a>
    </article>

    <article class="description-box">
      <div class="description-title">
        <h3 class="description-number">5</h3><h3 class="description-subtitle">Experienced</h3>
      </div>
      <div class="text-box">
        <h5>Since 1949, we have been striving to provide the highest quality of products and service to our customers.</h5>
      </div>
      <a href="#" class="learn-more-button hvr-underline-from-center">Learn More</a>
    </article>

    <article class="description-box">
      <div class="description-title">
        <h3 class="description-number">6</h3><h3 class="description-subtitle">Eco-Friendly</h3>
      </div>
      <div class="text-box">
        <h5>We have a corporate social responsibility plan dedicated to being environemntally friendly.</h5>
      </div>
      <a href="#" class="learn-more-button hvr-underline-from-center">Learn More</a>
    </article>

  </div>
</section>
