<section id="first-section">
  <!-- preloads background image -->
  <img src="images/paper-background.jpg" style="display: none;">

  <main id="cta-content">
      <h1 id="cta-title">We have solutions to your paper needs.</h1>
      <h2 id="cta-subtitle">Customers first. Quality Guaranteed.</h2>
      <h4 id="cta-text">Get your free quote today</h2>
      <a href="#" id="cta-button" class="hvr-underline-from-center">Contact Us</a>
  </main>
  <img id="lightbulb" src="images/lightbulb.png" alt="flickering light bulb">
</section>
