<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title>Munder Difflin – Scranton's Favorite Paper Company</title>
  </head>
  <body>

    <nav class="fixed-nav-bar">
      <a href="/"><img id="md-logo" src="images/md-logo.jpg" alt="Munder Diffin's company logo"></a>
      <a class="nav-element hvr-underline-from-center" href="/team">Our Team</a>
      <a class="nav-element hvr-underline-from-center" href="/about">Our Philosophy</a>
      <a class="nav-element hvr-underline-from-center" href="/testimonials">Client Testimonials</a>
      <h4 class="nav-element">(570) 520-2020</h4>
    </nav>

    <%= yield %>

  </body>
</html>
