<section id="team">
  <div id="team-top">
    <h1 class="section-title">The Munder Difflin Family</h1>
    <h2 class="section-subtitle">We are the People Person Paper People</h2>
  </div>
  <div id="team-bottom">
    <figure id="team-photo-section">
      <img id="team-photo" src="images/office-cast.jpg" alt="Cast of The Office">
      <figcaption id="team-photo-caption">Credit: The Office - NBC</caption>
    </figure>
    <ul id="team-list">
      <li>Sales Team</li>
        <ul class="member-list">
          <li>Jim Halpert</li>
          <li>Dwight Schrute</li>
          <li>Pam Beesly</li>
          <li>Phyllis Lapin</li>
          <li>Andy Bernard</li>
          <li>Stanley Hudson</li>
        </ul>
      </li>
      <li>Manager</li>
        <ul class="member-list">
          <li>Michael Scott</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
