<section id="clients">

  <div id="clients-top">
    <h1 class="section-title">Words from Our Clients</h1>
    <h2 class="section-subtitle">Why We Do What We Do</h2>
  </div>

  <div id="clients-bottom">
    <article class="quote-box">
      <div class="quote">
        <blockquote><span class="bqstart">“</span>Purrfect paper. Amazing people.<span class="bqend">”</span></blockquote>
      </div>
      <div class="client-info">
        <img class="client-logo" src="images/business-cat.jpg" alt="Company A">
        <div class="client-info-text">
          <h5 class="company-name">Feline Co.</h5>
          <h5 class="client-name">Business Cat</h5>
        </div>
      </div>
    </article>

    <article class="quote-box">
      <div class="quote">
        <blockquote><span class="bqstart">“</span>Such paper. Much beauty. Wow.<span class="bqend">”</span></blockquote>
      </div>
      <div class="client-info">
        <img class="client-logo" src="images/doge.jpg" alt="Company A">
        <div class="client-info-text">
          <h5 class="company-name">Rufus Inc.</h5>
          <h5 class="client-name">Doge</h5>
        </div>
      </div>
    </article>

    <article class="quote-box">
      <div class="quote">
        <blockquote><span class="bqstart">“</span>I looooooooove Munder Difflin!<span class="bqend">”</span></blockquote>
      </div>
      <div class="client-info">
        <img class="client-logo" src="images/dramatic-chipmunk.gif" alt="Company A">
        <div class="client-info-text">
          <h5 class="company-name">Walnut LLC.</h5>
          <h5 class="client-name">Dramatic Chipmunk</h5>
        </div>
      </div>
    </article>
  </div>

</section>
